In [ ]:
!pip install oracledb

In [ ]:
import oracledb

# Enable thin mode (no need for Oracle Client libraries)
connection = oracledb.connect(user="walmart", password="walmart", dsn="127.0.0.1:1521/freepdb1")
print("Connected to Oracle Database")

cursor = connection.cursor()
cursor.execute("SELECT * from suppliers")
for row in cursor:
    print(row)

connection.close()

Connected to Oracle Database
(1, 'Beverage Distributors Co.', 'John Smith', '123-456-7890', 'john.smith@beveragedist.com', <oracledb.LOB object at 0x1665aacc0>)
(2, 'Global Condiments Ltd.', 'Sarah Johnson', '234-567-8901', 'sarah.johnson@globalcondiments.com', <oracledb.LOB object at 0x1665aab70>)
(3, 'Sweet Treats Inc.', 'Emily Davis', '345-678-9012', 'emily.davis@sweettreats.com', <oracledb.LOB object at 0x1665abf80>)
(4, 'Dairy Farms LLC', 'Michael Brown', '456-789-0123', 'michael.brown@dairyfarms.com', <oracledb.LOB object at 0x1665aacc0>)
(5, 'Grain Supplies Corp.', 'Laura Wilson', '567-890-1234', 'laura.wilson@grainsupplies.com', <oracledb.LOB object at 0x1665ab530>)
(6, 'Fresh Meats Co.', 'David Martinez', '678-901-2345', 'david.martinez@freshmeats.com', <oracledb.LOB object at 0x1665ab0e0>)
(7, 'Organic Produce LLC', 'Jessica Garcia', '789-012-3456', 'jessica.garcia@organicproduce.com', <oracledb.LOB object at 0x1665aa810>)
(8, 'Ocean Catch Inc.', 'Daniel Lee', '890-123-4567', 'daniel.lee@oceancatch.com', <oracledb.LOB object at 0x1665aab10>)
(9, 'Snack Time Co.', 'Karen Taylor', '901-234-5678', 'karen.taylor@snacktime.com', <oracledb.LOB object at 0x1665abb00>)
(10, 'Frozen Delights Ltd.', 'Andrew Robinson', '012-345-6789', 'andrew.robinson@frozendelights.com', <oracledb.LOB object at 0x1665aa1e0>)
(11, 'Baking Supplies Inc.', 'Sophia Clark', '123-456-7890', 'sophia.clark@bakingsupplies.com', <oracledb.LOB object at 0x1665a9e50>)
(12, 'Personal Care Products Co.', 'Ryan Hall', '234-567-8901', 'ryan.hall@personalcare.com', <oracledb.LOB object at 0x1665aa2a0>)
(13, 'Household Essentials Ltd.', 'Megan Allen', '345-678-9012', 'megan.allen@householdessentials.com', <oracledb.LOB object at 0x1665ab290>)
(14, 'Pet Lovers Supplies', 'Joshua Wright', '456-789-0123', 'joshua.wright@petlovers.com', <oracledb.LOB object at 0x1665aabd0>)
(15, 'Health and Wellness Co.', 'Natalie King', '567-890-1234', 'natalie.king@healthandwellness.com', <oracledb.LOB object at 0x167ae7a70>)
(16, 'Baby Care Supplies', 'Samuel Scott', '678-901-2345', 'samuel.scott@babycaresupplies.com', <oracledb.LOB object at 0x167ae4830>)
(17, 'Organic Farmers Ltd.', 'Victoria Adams', '789-012-3456', 'victoria.adams@organicfarmers.com', <oracledb.LOB object at 0x167ae72f0>)
(18, 'Drink Mix Specialists', 'Benjamin Lopez', '890-123-4567', 'benjamin.lopez@drinkmix.com', <oracledb.LOB object at 0x167ae62a0>)
(19, 'International Foods Inc.', 'Hannah Hill', '901-234-5678', 'hannah.hill@intlfoods.com', <oracledb.LOB object at 0x167ae5640>)
(20, 'Canned Goods Co.', 'Christopher Green', '012-345-6789', 'christopher.green@cannedgoods.com', <oracledb.LOB object at 0x167ae46e0>)

In [43]:
!pip install sqlalchemy
!pip install oracledb

27569.08s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)

27576.40s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: oracledb in /opt/anaconda3/lib/python3.12/site-packages (2.5.1)
Requirement already satisfied: cryptography>=3.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from oracledb) (42.0.5)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/lib/python3.12/site-packages (from cryptography>=3.2.1->oracledb) (1.16.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)

In [87]:
import oracledb
import pandas as pd

# Connect to the Oracle database
connection = oracledb.connect(user="walmart", password="walmart", dsn="127.0.0.1:1521/freepdb1")
print("Connected to Oracle Database")
 
# Create a cursor to execute queries
cursor = connection.cursor()

# Execute the SQL query
cursor.execute("SELECT * FROM products")

# Fetch all rows from the query result
data = cursor.fetchall()

# Get column names (metadata)
columns = [desc[0] for desc in cursor.description]
# Convert the data into a pandas DataFrame
df = pd.DataFrame(data, columns=columns)

Connected to Oracle Database

In [89]:
product_data = df[['PRODUCTID','PRODUCTNAME','PRICE']]
for i, data in product_data.iterrows():
    cursor.execute("INSERT INTO products_dim VALUES (:1, :2, :3)", tuple(data))
    cursor.execute('commit')

   PRODUCTID PRODUCTNAME  PRICE
0          1   Product A   50.0
1          2   Product B   60.0
2          3   Product C   45.5
3          4   Product D   72.3
4          5   Product E   85.0