In [ ]:
!pip install oracledb

In [ ]:
import oracledb

# Enable thin mode (no need for Oracle Client libraries)
connection = oracledb.connect(user="walmart", password="walmart", dsn="127.0.0.1:1521/freepdb1")
print("Connected to Oracle Database")

cursor = connection.cursor()
cursor.execute("SELECT * from suppliers")
for row in cursor:
    print(row)

connection.close()

Connected to Oracle Database
(1, 'Beverage Distributors Co.', 'John Smith', '123-456-7890', 'john.smith@beveragedist.com', <oracledb.LOB object at 0x1665aacc0>)
(2, 'Global Condiments Ltd.', 'Sarah Johnson', '234-567-8901', 'sarah.johnson@globalcondiments.com', <oracledb.LOB object at 0x1665aab70>)
(3, 'Sweet Treats Inc.', 'Emily Davis', '345-678-9012', 'emily.davis@sweettreats.com', <oracledb.LOB object at 0x1665abf80>)
(4, 'Dairy Farms LLC', 'Michael Brown', '456-789-0123', 'michael.brown@dairyfarms.com', <oracledb.LOB object at 0x1665aacc0>)
(5, 'Grain Supplies Corp.', 'Laura Wilson', '567-890-1234', 'laura.wilson@grainsupplies.com', <oracledb.LOB object at 0x1665ab530>)
(6, 'Fresh Meats Co.', 'David Martinez', '678-901-2345', 'david.martinez@freshmeats.com', <oracledb.LOB object at 0x1665ab0e0>)
(7, 'Organic Produce LLC', 'Jessica Garcia', '789-012-3456', 'jessica.garcia@organicproduce.com', <oracledb.LOB object at 0x1665aa810>)
(8, 'Ocean Catch Inc.', 'Daniel Lee', '890-123-4567', 'daniel.lee@oceancatch.com', <oracledb.LOB object at 0x1665aab10>)
(9, 'Snack Time Co.', 'Karen Taylor', '901-234-5678', 'karen.taylor@snacktime.com', <oracledb.LOB object at 0x1665abb00>)
(10, 'Frozen Delights Ltd.', 'Andrew Robinson', '012-345-6789', 'andrew.robinson@frozendelights.com', <oracledb.LOB object at 0x1665aa1e0>)
(11, 'Baking Supplies Inc.', 'Sophia Clark', '123-456-7890', 'sophia.clark@bakingsupplies.com', <oracledb.LOB object at 0x1665a9e50>)
(12, 'Personal Care Products Co.', 'Ryan Hall', '234-567-8901', 'ryan.hall@personalcare.com', <oracledb.LOB object at 0x1665aa2a0>)
(13, 'Household Essentials Ltd.', 'Megan Allen', '345-678-9012', 'megan.allen@householdessentials.com', <oracledb.LOB object at 0x1665ab290>)
(14, 'Pet Lovers Supplies', 'Joshua Wright', '456-789-0123', 'joshua.wright@petlovers.com', <oracledb.LOB object at 0x1665aabd0>)
(15, 'Health and Wellness Co.', 'Natalie King', '567-890-1234', 'natalie.king@healthandwellness.com', <oracledb.LOB object at 0x167ae7a70>)
(16, 'Baby Care Supplies', 'Samuel Scott', '678-901-2345', 'samuel.scott@babycaresupplies.com', <oracledb.LOB object at 0x167ae4830>)
(17, 'Organic Farmers Ltd.', 'Victoria Adams', '789-012-3456', 'victoria.adams@organicfarmers.com', <oracledb.LOB object at 0x167ae72f0>)
(18, 'Drink Mix Specialists', 'Benjamin Lopez', '890-123-4567', 'benjamin.lopez@drinkmix.com', <oracledb.LOB object at 0x167ae62a0>)
(19, 'International Foods Inc.', 'Hannah Hill', '901-234-5678', 'hannah.hill@intlfoods.com', <oracledb.LOB object at 0x167ae5640>)
(20, 'Canned Goods Co.', 'Christopher Green', '012-345-6789', 'christopher.green@cannedgoods.com', <oracledb.LOB object at 0x167ae46e0>)

In [43]:
!pip install sqlalchemy
!pip install oracledb

27569.08s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)

27576.40s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: oracledb in /opt/anaconda3/lib/python3.12/site-packages (2.5.1)
Requirement already satisfied: cryptography>=3.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from oracledb) (42.0.5)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/lib/python3.12/site-packages (from cryptography>=3.2.1->oracledb) (1.16.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)

In [ ]:
import oracledb
import pandas as pd

# Connect to the Oracle database
connection = oracledb.connect(user="walmart", password="walmart", dsn="127.0.0.1:1521/freepdb1")
print("Connected to Oracle Database")
 
# Create a cursor to execute queries
cursor = connection.cursor()

# Execute the SQL query
cursor.execute("SELECT * FROM products")

# Fetch all rows from the query result
data = cursor.fetchall()

# Get column names (metadata)
columns = [desc[0] for desc in cursor.description]
# Convert the data into a pandas DataFrame
df = pd.DataFrame(data, columns=columns)

Connected to Oracle Database

In [70]:
df

,PRODUCTID,PRODUCTNAME,CATEGORYID,SUPPLIERID,PRICE,STOCKQUANTITY,REORDERLEVEL
0,1,Product A,1,1,50.0,200,50
1,2,Product B,2,2,60.0,150,40
2,3,Product C,3,3,45.5,180,35
3,4,Product D,4,4,72.3,220,60
4,5,Product E,5,5,85.0,100,30
5,6,Product F,6,6,110.0,80,25
6,7,Product G,7,7,120.5,150,40
7,8,Product H,8,8,95.0,300,50
8,9,Product I,9,9,80.0,500,70
9,10,Product J,10,10,110.0,150,30
10,11,Product K,11,11,150.0,200,60
11,12,Product L,12,12,140.0,180,40
12,13,Product M,13,13,135.0,220,55
13,14,Product N,14,14,65.0,190,50
14,15,Product O,15,15,70.0,160,45
15,16,Product P,16,16,90.0,240,60
16,17,Product Q,17,17,85.0,230,55
17,18,Product R,18,18,95.0,210,50
18,19,Product S,19,19,130.0,270,65
19,20,Product T,20,20,115.0,150,40
20,21,Product U,21,1,160.0,200,50
21,22,Product V,22,2,170.0,180,45
22,23,Product W,1,3,90.0,230,60
23,24,Product X,2,4,100.0,220,55
24,25,Product Y,3,5,80.0,210,50
25,26,Product Z,4,6,120.0,180,45